/*导航栏设计*/
.nagative .container{
  	    height:450px;
  	   /* background:red;*/
     }
        .contaier_btn{
    	    position:relative;
    	    height:50px;
        }
        .btn-group{
        	position:absolute;
        	right:450px;
        }

.nagative .container .btn{
    width:120px;
    height:40px;
}

    /*吃法模块设计*/
.waytoeat .container{
    	height:500px;
    	/*background:#ccc;*/
    }

    /*小吃故事设计*/
.snack_practice .container{
	position:relative;
	height:1000px;
 }
   .glyphicon glyphicon-triangle-right{
   	position:absolute;
   	right:300px;
   }